Repository Team-Challenge-Chat-App/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

CI setup
  public/.github/workflows/ci.yml
Due: prettier --write

Fix CI location
  .github/workflows/ci.yml
Due: prettier --write

Fix command and on action
  .github/workflows/ci.yml
Due: prettier --write

+ vercel deploy config
  vercel.json
Due: prettier --write

* vercel job cancel on push
  vercel.json
Due: prettier --write

* capitalize letter
  README.md
Due: prettier --write

- vercel config
  vercel.json
Due: prettier --write

chore: rename component
  src/lib/router/RouterProvider.tsx
  src/lib/router/router-provider.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

chore: change lint/format settings
  .eslintrc.json
  .prettierrc.json
Due: prettier --write

chore: reformat with another tabwidth
  .github/workflows/ci.yml
  .lintstagedrc.json
  index.html
  package-lock.json
  package.json
  postcss.config.ts
  src/app/App.tsx
  src/lib/store/store.ts
  tailwind.config.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: add commitlint
  commitlint.config.ts
  package-lock.json
  package.json
Due: prettier --write

chore: fix ci branch name
  .github/workflows/ci.yml
Due: prettier --write

feat: create dark button
  src/components/Button.tsx
Due: eslint --fix, prettier --write

feat: create light button
  src/components/ButtonSec.tsx
Due: eslint --fix, prettier --write

style: add styles for dark & light buttons
  src/styles/index.css
Due: none

fix: remove styles buttons
  src/components/Button.tsx
Due: eslint --fix, prettier --write

fix: delete styles for buttons
  src/styles/index.css
Due: none

chore: install twMerge
  package-lock.json
  package.json
Due: prettier --write

feat: setup basic button colors
  src/styles/colors.css
  src/styles/index.css
Due: none

feat: setup tailwind classes
  tailwind.config.ts
Due: prettier --write

feat: add basic button
  src/components/button/Button.tsx
Due: eslint --fix, prettier --write

feat: add border to sec btn
  src/components/button/Button.tsx
  src/styles/colors.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore: enum export
  src/components/button/Button.tsx
Due: eslint --fix, prettier --write

refactor: rename folder and add import file
  src/components/Button/Button.tsx
  src/components/Button/index.ts
Due: eslint --fix, prettier --write

feat: add more colors
  src/styles/colors.css
  tailwind.config.ts
Due: prettier --write

feat: add input
  src/components/Input/Input.tsx
  src/components/Input/index.ts
Due: eslint --fix, prettier --write

feat: add font
  src/styles/fonts.css
  src/styles/index.css
Due: none

feat: added colors and changed var names
  src/styles/colors.css
  tailwind.config.ts
Due: prettier --write

feat: add styles to root element
  index.html
Due: prettier --write

refactor: simplify reimports
  src/components/Button/index.ts
  src/components/Input/index.ts
  src/components/index.ts
Due: eslint --fix, prettier --write

feat: add type prop
  src/components/Input/Input.tsx
Due: eslint --fix, prettier --write

feat: add classname prop and make btn non-full width
  src/components/Button/Button.tsx
Due: eslint --fix, prettier --write

feat: add icons
  src/common/icons/ArrowLeftIcon.tsx
  src/common/icons/IncognitoIcon.tsx
  src/common/icons/index.tsx
Due: eslint --fix, prettier --write

feat: add layout component
  src/components/Layout/Layout.tsx
Due: eslint --fix, prettier --write

feat: add authPage components
  src/pages/AuthPage/AuthPage.tsx
  src/pages/AuthPage/components/AuthSwitch/AuthSwitch.tsx
  src/pages/AuthPage/components/LoginForm/LoginForm.tsx
  src/pages/AuthPage/components/RegisterForm/RegisterForm.tsx
  src/pages/AuthPage/components/index.ts
  src/pages/AuthPage/index.ts
Due: eslint --fix, prettier --write

feat: setup routing
  src/app/App.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

refactor: add route enum
  src/common/enums/app-routes.enum.ts
  src/common/enums/index.ts
  src/main.tsx
Due: eslint --fix, prettier --write

revert: change var name back
  src/components/Input/Input.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: make form wider and space out button
  src/pages/AuthPage/components/LoginForm/LoginForm.tsx
Due: eslint --fix, prettier --write

feat: add register form
  src/pages/AuthPage/components/RegisterForm/RegisterForm.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,md,scss,html,yml}
